
/* Google Schriftarten */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:ital@0;1&family=Roboto:wght@300&display=swap');

body {
    font-family: 'Open Sans';
    background-color: rgb(234, 234, 234);
    max-width: 1280px;
    margin: auto;
}

/*Bild unter header*/
header>img {
    max-width: 100%;
}

h1 {
    text-align: center;
    font-size: xx-large;
    font-stretch: extra-expanded;
    font-weight: 800;
  }
  
main {
    max-width: 1024px;
    margin: auto;
    margin-top: 40px;
}

article p {
    font-family: 'Roboto';
    text-align: justify;
    line-height: 1.5em;
}

article h1,
article h2,
article h3 {
    font-family: 'Roboto';
}

article figure>img {
    width: 100%;
}

.shadow {
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
/* Stile für das Menüband */
nav {
  background-color: #333;
  padding: 16px;
  margin-top: -5px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  position: relative;
}

nav ul li a {
  color: #fff;
  padding: 15px;
  text-decoration: none;
  font-size: 22px;
}

nav ul li:hover>a {
  background-color: #555;
}

/* Dropdown-Menüs */
nav ul li ul {
  position: absolute;
  background-color: #333;
  top: 40px;
  left: 5px;
  width: 200px; /* Anpassen der Breite */
  height: 0; /* Anpassen der Höhe */
  overflow: hidden; /* Ausblenden des Inhalts */
  display: flex; /* Hinzufügen der flex-Eigenschaft */
  flex-direction: column; /* Anordnung der Elemente in Spalten */
  justify-content: space-between; /* Gleichmäßige Verteilung der Elemente */
}

nav ul li:hover > ul {
  height: auto; /* Dropdown-Menü anzeigen beim Hovern */
  transition: height 0.3s ease; /* Animierter Übergang der Höhe */
}

nav ul li ul li {
  display: block;
}

nav ul li ul li a {
  font-size: 16px; /* Kleinere Schriftgröße für die Menüpunkte im Dropdown-Menü */
  line-height: 1.5;
}

nav ul li ul li a:hover {
  background-color: #555;
  padding: 5px 10px; /* Anpassen des Padding */
  margin: 5px; /* Anpassen des Margin */
  line-height: 2; /* Anpassen des Zeilenabstands */
}
   
   /* slide-show */

  .slideshow {
    position: relative;
    max-width: 100%;
    overflow: hidden;
  }
 
  .slide {
    display: none;
    width: 100%;
  }
  
  .slide.active {
    display: block;
  }
     /* slide-show2 */

  .slide2 {
    display: none;
    width: 100%;
  }
  
  .slide2.active {
    display: block;
  }
  
  .slideshow2 {
    position: relative;
  }
  
  #prevButton,
  #nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    padding: 10px;
    background-color: transparent;
    border: none;
    color: #000000;
    cursor: pointer;
  }
  
  #prevButton {
    left: 5px;
  }
  
  #nextButton {
    right: 5px;
  }
  /* Impressum */  
  footer {
    text-align: center;
  }
  
  #impressum {
    font-weight: bold;
  }
  
  .inline-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .inline-list li {
    margin-right: 30px;
    font-family: "Roboto";
    font-size: smaller;
  }
  